{% extends 'web/partials/base.html' %}
{% load static %}
{% block content %}
<div class="hero-slider-area">
    <div class="hero-slider owl-carousel owl-theme">
        <div class="hero-item">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="hero-content container">
                            <span class="top-title">EDUCATION AT ITS BEST</span>
                            <h1>Study in the Top Universities</h1>
                            <p>
                                We offer complete assistance in finding top-rated universities and career-promising courses for your bright future.
                            </p>
                            <div class="banner-btn">
                                <a href="#course" class="default-btn border-radius-50">Find courses</a>
                                <!-- <a href="https://youtu.be/QtprI_PnTuk" class="play-btn">
                                    <i class='flaticon-play-button-arrowhead'></i>
                                    <span class="title-text">Watch video</span>
                                </a> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="hero-img">
                            <img src="{% static 'web/images/home-three/hero-img1.jpeg' %}" width="550" height="480" class="hero mx-auto" alt="Hero" />
                           {% comment %}
                            <div class="hero-bg-shape">
                                <img src="{% static 'web/images/home-three/bg-shape1.png' %}" class="bg-img-shape1"
                                    alt="Hero" loading="lazy" />
                                <img src="{% static 'web/images/home-three/bg-shape2.png' %}" class="bg-img-shape2"
                                    alt="Hero" loading="lazy" />
                            </div>
                           {% endcomment %}

                            {% comment %}

                            <div class="top-content">
                                <div class="hero-img-content">
                                    <i class="flaticon-student"></i>
                                    <div class="content">
                                        <h3>250K</h3>
                                        <p>Assisted student</p>
                                    </div>
                                </div>
                            </div>
                            <div class="right-content">
                                <div class="hero-img-content">
                                    <i class="flaticon-checked"></i>
                                    <div class="content">
                                        <h3>Congratulations</h3>
                                        <p>Your admission completed</p>
                                    </div>
                                </div>
                            </div>

                            {% endcomment %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-item">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="hero-content container">
                            <span class="top-title">CHOOSE YOUR BEST COURSE</span>
                            <h1>Your career depends on the course that you choose</h1>
                            <p>
                                Every career-building scholar is entitled to our best career-promising courses in the yearning of building a bright future.
                            </p>
                            <div class="banner-btn">
                                <a href="#course" class="default-btn border-radius-50">Find courses</a>
                                <!-- <a href="https://youtu.be/QtprI_PnTuk" class="play-btn">
                                    <i class='flaticon-play-button-arrowhead'></i>
                                    <span class="title-text">Watch video</span>
                                </a> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="hero-img">
                            <img src="{% static 'web/images/home-three/hero-img3.jpeg' %}" width="550" height="480" class="hero mx-auto" alt="Hero"
                                loading="lazy" />
                           {% comment %}
                            <div class="hero-bg-shape">
                                <img src="{% static 'web/images/home-three/bg-shape1.png' %}" class="bg-img-shape1"
                                    alt="Hero" loading="lazy" />
                                <img src="{% static 'web/images/home-three/bg-shape2.png' %}" class="bg-img-shape2"
                                    alt="Hero" loading="lazy" />
                            </div>
                           {% endcomment %}

                            {% comment %}
                            <div class="top-content">
                                <div class="hero-img-content">
                                    <i class="flaticon-student"></i>
                                    <div class="content">
                                        <h3>250K</h3>
                                        <p>Assisted student</p>
                                    </div>
                                </div>
                            </div>
                            <div class="right-content">
                                <div class="hero-img-content">
                                    <i class="flaticon-checked"></i>
                                    <div class="content">
                                        <h3>Congratulations</h3>
                                        <p>Your admission completed</p>
                                    </div>
                                </div>
                            </div>

                            {% endcomment %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-item">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="hero-content container">
                            <span class="top-title">CHOOSE YOUR BEST COURSE</span>
                            <h1>Improve your skills by study with us</h1>
                            <p>
                                Flexible easy to access learning opportunities can bring a significant change in how
                                to learn! The Ellen can offer you to enjoy the beauty of eLearning!
                            </p>
                            <div class="banner-btn">
                                <a href="#course" class="default-btn border-radius-50">Find courses</a>
                                <!-- <a href="https://youtu.be/QtprI_PnTuk" class="play-btn">
                                    <i class='flaticon-play-button-arrowhead'></i>
                                    <span class="title-text">Watch video</span>
                                </a> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="hero-img">
                            <img src="{% static 'web/images/home-three/hero-img2.jpeg' %}" width="550" height="480" class="hero mx-auto" alt="Hero"
                                loading="lazy" />
                           {% comment %}
                            <div class="hero-bg-shape">
                                <img src="{% static 'web/images/home-three/bg-shape1.png' %}" class="bg-img-shape1"
                                    alt="Hero" loading="lazy" />
                                <img src="{% static 'web/images/home-three/bg-shape2.png' %}" class="bg-img-shape2"
                                    alt="Hero" loading="lazy" />
                            </div>
                           {% endcomment %}

                            {% comment %}
                            <div class="top-content">
                                <div class="hero-img-content">
                                    <i class="flaticon-student"></i>
                                    <div class="content">
                                        <h3>250K</h3>
                                        <p>Assisted student</p>
                                    </div>
                                </div>
                            </div>
                            <div class="right-content">
                                <div class="hero-img-content">
                                    <i class="flaticon-checked"></i>
                                    <div class="content">
                                        <h3>Congratulations</h3>
                                        <p>Your admission completed</p>
                                    </div>
                                </div>
                            </div>
                            {% endcomment %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="hero-shape">
        <div class="shape1">
            <img src="{% static 'web/images/home-three/shape.png' %}" alt="Shape" loading="lazy" />
        </div>
        <div class="shape2">
            <img src="{% static 'web/images/home-three/shape2.png' %}" alt="Shape" loading="lazy" />
        </div>
    </div> -->
</div>


<div class="featured-area pt-50" id="course">
    <div class="container">
        <div class="row align-items-center mb-45">
            <div class="col-lg-8 col-md-9">
                <div class="section-title mt-rs-20">
                    <span>WHAT WE DO</span>
                    <h2>Exploring around the globe</h2>
                    <p>We deliver the most high quality educational service across specified states of  India and abroad too..</p>
                </div>
            </div>
            <!-- <div class="col-lg-4  col-md-3 text-end">
                <a href="courses.html" class="default-btn border-radius-50">Explore more</a>
            </div> -->
        </div>
        <div class="row">
            <div class="col-lg-3 col-6">
                <div class="featured-item-two">
                    <a href="{% url 'web:domestic' %}">
                        <i class="fa fa-thin fa-house-user"></i>
                        <h3>Domestic</h3>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="featured-item-two">
                    <a href="{% url 'web:international' %}">
                        <i class="fa fa-solid fa-earth-americas"></i>
                        <h3>International</h3>
                    </a>
                </div>
            </div>

            {% comment %}
            <div class="col-lg-3 col-6">
                <div class="featured-item-two">
                    <a href="courses.html">
                        <i class="flaticon-wellness"></i>
                        <h3>Lifestyle</h3>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="featured-item-two">
                    <a href="courses.html">
                        <i class="flaticon-heart-beat"></i>
                        <h3>Health & fitness</h3>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="featured-item-two">
                    <a href="courses.html">
                        <i class="flaticon-corporate"></i>
                        <h3>Gov. exams</h3>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="featured-item-two">
                    <a href="courses.html">
                        <i class="flaticon-camera"></i>
                        <h3>Photography</h3>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="featured-item-two">
                    <a href="courses.html">
                        <i class="flaticon-user"></i>
                        <h3>Accounting</h3>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="featured-item-two">
                    <a href="courses.html">
                        <i class="flaticon-folder"></i>
                        <h3>Data science</h3>
                    </a>
                </div>
            </div>

            {% endcomment %}
        </div>
    </div>
</div>

<!-- About -->

<div class="enrolled-area-two pt-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="enrolled-img-three mb-30 pr-20">
                    <img src="{% static 'web/images/enrolled/enrolled-img3.jpg' %}" alt="Enrolled" loading="lazy">

                    {% comment %}
                    <div class="enrolled-img-content">
                        <i class="flaticon-discount"></i>
                        <div class="content">
                            <h3>Get 40% off</h3>
                            <p>Every course</p>
                        </div>
                    </div>

                    {% endcomment %}
                </div>
            </div>
            <div class="col-lg-8">
                <div class="enrolled-content mb-30">
                    <div class="section-title">
                       <h4> <span class="font-weight-bold">WHO WE ARE</span></h4>
                        <h6>We have the most qualified instructors in your hometown.</h6>
                        <p>
                            KM Foundation was formed in the year of 2010 and has evolved to become one of the most
                            trusted
                            educational organizations in India. Our organization is headed by leading professionals from
                            various
                            spheres and has branched into all districts of Kerala. We also have our sister concern in
                            most of the
                            overseas destinations.
                            We get students admitted only in colleges with valid affiliations like AICTE, Indian medical
                            council,
                            Indian nursing council, state government and university approved colleges. We guide you
                            to world class colleges and universities in Kerala, Karnataka, Tamilnadu, Pondicherry and
                            Maharashtra, which offer undergraduate, post graduate and diploma courses, as well as
                            doctoral research in wide ranging disciplines like engineering, medicine, Nano medical
                            sciences, Ayurveda, management education, mass communication etc…
                        </p>


                        <div class="row">
                            <!-- <div class="col-lg-6">
                                <div class="event-item vission">
                                    <div class="event-content">

                                        <h3><a href="">Our mission</a></h3>
                                        <p>To make Quality Education and Corporate best practices, readily available
                                            to Maximum possible youth of India-In India and on foreign shores! Not
                                            merely limiting ourselves to the accessibility of academic knowledge, but
                                            to the veritable exposure that, goes into the creation of a global citizen;
                                            culminating in a universally relevant, socially comfortable and humane
                                            human resource!</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="event-item vission">

                                    <div class="event-content">

                                        <h3><a href="">Our vision</a></h3>
                                        <p>We at KM Foundation have a dream! We dream of an aware, informed
                                            and empowered youth force, surging forth into an illuminated era for India;
                                            soaring on the wings of accessible, globally relevant and logically
                                            applicable
                                            knowledge - from the rural terrains to suburbia!</p>
                                    </div>
                                </div>

                            </div> -->
                        </div>
                    </div>




                </div>
            </div>
        </div>
    </div>
</div>


{% comment %}
<div class="event-area pt-50 vission">
    <div class="container">
        <div class="product-topper mb-45">
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="event-item box-shadow">
                    <div class="event-img">
                        <a href="event-details.html">
                            <img src="{% static 'web/images/events/event-img1.jpg' %}" alt="Events">
                        </a>
                    </div>
                    <div class="event-content">

                        <h3><a href="courses-details.html">Our mission</a></h3>
                        <p>To make Quality Education and Corporate best practices, readily available
                            to Maximum possible youth of India-In India and on foreign shores! Not
                            merely limiting ourselves to the accessibility of academic knowledge, but
                            to the veritable exposure that, goes into the creation of a global citizen;
                            culminating in a universally relevant, socially comfortable and humane
                            human resource!</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="event-item box-shadow">
                    <div class="event-img">
                        <a href="event-details.html">
                            <img src="{% static 'web/images/events/event-img2.jpg' %}" alt="Events">
                        </a>
                    </div>
                    <div class="event-content">

                        <h3><a href="courses-details.html">Our vission</a></h3>
                        <p>We at KM Foundation have a dream! We dream of an aware, informed
                            and empowered youth force, surging forth into an illuminated era for India;
                            soaring on the wings of accessible, globally relevant and logically applicable
                            knowledge - from the rural terrains to suburbia!</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endcomment %}



<div class="courses-area-two section-bg pt-50" id="services">
    <div class="container">
        <div class="section-title text-center mb-45">
            
            <h2>Our Specialities</h2>
        </div>
        <div class="course-slider-two owl-carousel owl-theme">

         {% for service in service %}
            <div class="courses-item">
                <div class="blog-card">
                    <a href="#">
                        <img src="{{ service.service_image.url }}" width="302" height="188" alt="Blog">
                    </a>
                    <div class="content service-box">

                        <h3><a href="#">{{ service.service_title }}</a>
                        </h3>
                        <p>{{ service.service_description|safe|truncatechars:100  }}</p>
                        
                    </div>
                </div>
            </div>
        {% endfor %}

        </div>
    </div>
</div>


<div class="counter-area-two pt-50">
    <div class="container">
        <div class="counter-max">
            <div class="row">
                <div class="col-lg-3 col-6 col-md-3">
                    <div class="counter-content">
                        <i class="flaticon-online-course"></i>
                        <h3><span class="odometer" data-count="150">00000</span>+</h3>
                        <p>Courses & videos</p>
                    </div>
                </div>
                <div class="col-lg-3 col-6 col-md-3">
                    <div class="counter-content">
                        <i class="flaticon-student"></i>
                        <h3><span class="odometer" data-count="145">000000</span>+</h3>
                        <p>Students enrolled</p>
                    </div>
                </div>
                <div class="col-lg-3 col-6 col-md-3">
                    <div class="counter-content">
                        <i class="flaticon-online-course-1"></i>
                        <h3><span class="odometer" data-count="100">00000</span>+</h3>
                        <p>Courses instructors</p>
                    </div>
                </div>
                <div class="col-lg-3 col-6 col-md-3">
                    <div class="counter-content">
                        <i class="flaticon-customer-satisfaction"></i>
                        <h3><span class="odometer" data-count="99">000</span>%</h3>
                        <p>Satisfaction rate</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="testimonials-area  pt-50">
    <div class="container">
        <div class="section-title text-center">
            <span>TESTIMONIAL</span>
            <h2>What people say about us</h2>
        </div>
        <div class="testimonials-slider-two owl-carousel owl-theme">
            {% for testimonial in testimonial %}
            <div class="testimonials-card-two">

                <p>“{{ testimonial.testimonial|safe }}”</p>
                <div class="content">
                    <img src="{{ testimonial.image.url }}" width="70" height="70" alt="testimonials"
                        loading="lazy" />
                    <h3>{{ testimonial.name }}</h3>
                    <span>{{ testimonial.designation }}</span>
                </div>
                <div class="quote"> <i class="flaticon-quote"></i></div>
            </div>
           {% endfor %}
        </div>
    </div>
</div>

{% comment %}
<div class="register-area pt-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="play-btn-area-two">
                    <a href="https://www.youtube.com/watch?v=Zd00oIDAt60" class="play-btn">
                        <i class='flaticon-play-button-arrowhead'></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="register-form">
                    <div class="top-header">
                        <h3>Register now</h3>
                        <span>More than 150 courses are free for this month</span>
                    </div>
                    <form class="register-form-max">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" required data-error="Please Enter Your Name"
                                        placeholder="Your name">
                                </div>
                            </div>
                            <div class="col-lg-12 ">
                                <div class="form-group">
                                    <input type="email" class="form-control" required data-error="Please Enter Email"
                                        placeholder="Email">
                                </div>
                            </div>
                            <div class="col-lg-12 ">
                                <div class="form-group">
                                    <input type="text" class="form-control" required data-error="Please Enter Subject"
                                        placeholder="Subject">
                                </div>
                            </div>
                            <div class="col-lg-12 ">
                                <div class="form-group">
                                    <input type="text" class="form-control" required data-error="Please Enter Phone"
                                        placeholder="Phone">
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 text-center">
                                <button type="submit" class="default-btn border-radius-50">
                                    Get it now
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endcomment %}




<div class="event-area section-bg pt-50">
    <div class="container">
        <div class="section-title text-center mb-45">
            <span>EVENTS</span>
            <h2>Upcoming events schedule</h2>
        </div>
        <div class="event-slider owl-carousel owl-theme">

            {% for event in event %}
            <div class="event-item">
                <div class="event-img">
                    <a href="{% url 'web:event-detail' event.id %}">
                        <img src="{{ event.image.url }}"  width="180" alt="Events" loading="lazy" />
                    </a>
                </div>
                <div class="event-content">
                    <ul class="event-list">
                        <li><i class="ri-calendar-todo-fill"></i> {{ event.date }}</li>
                        <li><i class="ri-map-pin-fill"></i> {{ event.location }}</li>
                        <li><i class="ri-time-fill"></i> {{ event.time }}</li>
                    </ul>
                    <h3><a href="{% url 'web:event-detail' event.id %}">{{ event.event_name }}</a></h3>
                    <p class="about-event">{{ event.about_event|safe|truncatechars:200  }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>


<div class="blog-area pt-50">
    <div class="container">
        <div class="row align-items-center mb-45">
            <div class="col-lg-8">
                <div class="section-title mt-rs-20">
                    <span>LATEST BLOG</span>
                    <h2>Latest from our blogs</h2>
                </div>
            </div>
            <div class="col-lg-4 text-end">
                <a href="{% url 'web:updates' %}" class="default-btn border-radius-50">View all blogs</a>
            </div>
        </div>
        <div class="row">

            {% for blog in blog %}
            <div class="col-lg-3 col-6">
                <div class="blog-card">
                    <a href="{% url 'web:update-detail' blog.id %}">
                        <img src="{{ blog.image.url }}" width="306" height="203" alt="Blog" loading="lazy">
                    </a>
                    <div class="content service-box">
                        <ul>
                            <li><i class="ri-calendar-todo-fill"></i> {{ blog.date}}</li>
                      
                        </ul>
                        <h3><a href="{% url 'web:update-detail' blog.id %}">{{ blog.blog_heading}}</a></h3>
                        <p>{{ blog.about_blog|safe|truncatechars:100 }}
                        </p>
                        <a href="{% url 'web:update-detail' blog.id %}" class="read-btn">Read More</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>


<div class="brand-area">
    <div class="container">

        <div class="row align-items-center mb-45">
            <div class="section-title text-center mb-45">
                <h2>Universities</h2>
            </div>
        </div>
        <div class="brand-slider owl-carousel owl-theme pb-100">
            {% for i in logos %}
            
            <div class="brand-item">
                <img src="{{i.logo.url}}" class="brand-item-logo1" alt="Images" loading="lazy">
                <img src="{{i.logo.url}}" class="brand-item-logo2" alt="Images" loading="lazy">
            </div>
           {% endfor %}
        </div>
    </div>
</div>

{% endblock %}