{% extends 'web/partials/base.html' %}
{% load static %}
{% block content %}

<div class="row container pt-50">

   {% for international in international %}  
    <div class="col-lg-3 col-6">
        <div class="featured-item-two">
            <a href="{% url 'web:international-course-catagory' international.id %}">
                {% if international.flag %}
                <img src="{{international.flag.url}}" width="40" alt="">
                {% endif %}
                <h3 class="mx-3">{{ international.state }}</h3>
            </a>
        </div>
    </div>
{% endfor %}

</div>




{% endblock %}