{% extends 'web/partials/base.html' %}
{% load static %}
{% block content %}


<div class="event-details-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                
                <div class="event-details-content  pr-20">
                    <div class="row">
                       
                        <div class="col-lg-6">
                            <div class="event-preview-img">
                                <img src="{{ service.service_image.url }}" class="w-100" alt="Event Details">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <h2 class="text-center">{{service.service_title}}</h2>
                            <p>
                                {{service.service_description|safe}}
                            </p>
                        </div>
                    </div>
                   
                    
                  




                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}